# OS X Files
.DS_Store

# Laravel Basics
/vendor/
node_modules/
.env
.env.backup
.env.production
/public/storage
/public/hot
/storage/*.key

# Laravel Storage & Logs
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# IDE Configs
.vscode/
.idea/

# PHPUnit & Testing
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json

# Vite / Mix
/public/build
/public/mix-manifest.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
